<% provide(:title, "About") %>
<div class="container">
  <h1>About Infant Passport</h1>
    <p>Infant Passport is a tool designed for use by parents during the first years of life that allows them to track their baby's
    growth and development into childhood. It helps keep you and your newborn on track to a safe and healthy infancy providing
    information and logs for nutrition, growth, and vaccinations. </p>
    <h3>What do we do with your information?</h3>
    <p>Any information saved to your account is encrypted in a databased hosted by secure servers. We will never distribute or sell
    information concerning your children's health and safety to third  parties. We will keep it safe indefinitely so that you can come
    back to it in later years when you need it.
    </p>
    <h3>Who are we?</h3>
    <p>Infant Passport was conceived and created by medical students at Queen's University in Kingston, Ontario.<p>
</div>
