<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Age</th>
        <th colspan="2">Height (cm)</th>
        <th colspan="2">Weight (kg)</th>
        <th colspan="2">Head Circumference (cm)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>M</td>
        <td>F</td>
        <td>M</td>
        <td>F</td>
        <td>M</td>
        <td>F</td>
      </tr>
      <tr>
        <td>New-born</td>
        <td>46.8 - 53</td>
        <td>46.1 - 52.2</td>
        <td>2.6 - 4.2</td>
        <td>2.5 - 4</td>
        <td>32 - 36.8</td>
        <td>31.6 - 36</td>
      </tr>
      <tr>
        <td>1 Month</td>
        <td>51.5 - 57.9</td>
        <td>50.5 - 56.9</td>
        <td>3.6 - 5.5</td>
        <td>3.3 - 5.2</td>
        <td>35.2 - 38.6</td>
        <td>34.4 - 38.4</td>
      </tr>
    </tbody>
  </table>
</div>
