<% provide(:title, "Growth and Development") %>
<div class="container">
	<h1> Growth and Development </h1>
	<p> There is no other time in life when a person goes through as many changes,
	both physically and mentally, as in the months immediately following birth. The
	most common questions to ask as a parent are "Should she be doing X/Y/Z yet?"
	The truth is, there is an incredible amount of variability between the rate of
	development for newborns that can be attributed to genetics, environment, and
	even personality. Some babies are more precocious than others. However, aberrant
	patterns of late or slow development can be indicative of certain diseases and
	conditions affecting your child that should be indentified earlier rather than
	later. Keep in mind the flexibility of the timelines we've laid out here at
	infant passport, but be aware of your infant's progress.
	</p>
	<p> We've broken down development into four broad categories:
	Communication, Cognition, Gross Motor Skills, and Fine Motor Skills.
	</p>
	<h3> Communication </h3>
	<p> These goals relate to your childs ability to share emotion and information
	with you and others. Does he cry to get your attention? Is she combining multiple
	words when she speaks? These are the kinds of milestones to pay attention to in
	this category.
	</p>
	<h3> Cognition </h3>
	<p>Cognitive development is the construction of thought processes, including remembering,
		problem solving, and decision-making, from childhood through adolescence to adulthood.It
		 was once believed that infants lacked the ability to think or form complex ideas and remained
		 without cognition until they learned language. It is now known that babies are aware of
		 their surroundings and interested in exploration from the time they are born. From birth,
		 babies begin to actively learn. They gather, sort, and process information from around them,
		 using the data to develop perception and thinking skills.
	</p>
	<h3> Gross Motor Skills </h3>
	<p> Motor skills are actions that involve the movement of muscles in the body. They are divided
		into two groups: gross motor skills, which are the larger movements of arms, legs, feet, or the
		entire body (crawling, running, and jumping); and fine motor skills , which are smaller actions,
		such as grasping an object between the thumb and a finger or using the lips and tongue to taste
		objects. Motor skills usually develop together since many activities depend on the coordination
		of gross and fine motor skills. Gross motor skills develop over a relatively short period of time.
		Most development occurs during childhood. However, soldiers, some athletes, and others who engage
		in activities requiring high degrees of endurance may spend years improving their level of muscle
		and body coordination and gross motor skills.

		Gross motor skills development is governed by two principles that also control physical growth.
		Head to toe development refers to the way the upper parts of the body develop, beginning with the
		head, before the lower ones. The second principle of development is trunk to extremities. Head control
		is gained first, followed by the shoulders, upper arms, and hands. Upper body control is developed next,
		followed by the hips, pelvis, and legs.
	</p>
	<h3> Fine Motor Skills </h3>
	<p> Fine motor skills generally refer to the small movements of the hands, wrists, fingers, feet, toes, lips, and tongue.
		The hands of newborn infants are closed most of the time and, like the rest of their bodies, they have little
		control over them. If their palms are touched, they will make a very tight fist, but this is an unconscious reflex
		action called the Darwinian reflex, and it disappears within two to three months. Similarly, infants will grasp at
		an object placed in their hands, but without any awareness that they are doing so. At some point their hand muscles
		relax, and they drop the object, equally unaware that they have let it fall. Babies may begin flailing at objects that
		interest them by two weeks of age but cannot grasp them. By eight weeks, they begin to discover and play with their
		 hands, at first solely by touch, and then, at about three months, by sight as well. At this age, however, the deliberate
		 grasp remains largely undeveloped.
	</p>
	<h3> Physical Growth </h3>
	<p> It is, of course, also important to keep track of how your child is doing from
	a growth perspective. Below is a table of typical weights and heights at different
	ages for 95% of the population.
	</p>
  <table class="table">
    <thead>
      <tr>
        <th>Age</th>
        <th colspan="2">Height (cm)</th>
        <th colspan="2">Weight (kg)</th>
        <th colspan="2">Head Circumference (cm)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>M</td>
        <td>F</td>
        <td>M</td>
        <td>F</td>
        <td>M</td>
        <td>F</td>
      </tr>
      <tr>
        <td>New-born</td>
        <td>46.8 - 53</td>
        <td>46.1 - 52.2</td>
        <td>2.6 - 4.2</td>
        <td>2.5 - 4</td>
        <td>32 - 36.8</td>
        <td>31.6 - 36</td>
      </tr>
      <tr>
        <td>1 Month</td>
        <td>51.5 - 57.9</td>
        <td>50.5 - 56.9</td>
        <td>3.6 - 5.5</td>
        <td>3.3 - 5.2</td>
        <td>35.2 - 38.6</td>
        <td>34.4 - 38.4</td>
      </tr>
    </tbody>
  </table>
</div>
