<% provide(:title, "Growth and Development") %>
<div class="container">
	<h1> Growth and Development </h1>
	<p> There is no other time in life when a person goes through as many changes, 
	both physically and mentally, as in the months immediately following birth. The 
	most common questions to ask as a parent are "Should she be doing X/Y/Z yet?" 
	The truth is, there is an incredible amount of variability between the rate of 
	development for newborns that can be attributed to genetics, environment, and 
	even personality. Some babies are more precocious than others. However, aberrant
	patterns of late or slow development can be indicative of certain diseases and 
	conditions affecting your child that should be indentified earlier rather than 
	later. Keep in mind the flexibility of the timelines we've laid out here at 
	infant passport, but be aware of your infant's progress. 
	</p>
	<p> We've broken down development into four broad categories: 
	Communication, Cognition, Gross Motor Skills, and Fine Motor Skills.
	</p>
	<h3> Communication </h3>
	<p> These goals relate to your childs ability to share emotion and information 
	with you and others. Does he cry to get your attention? Is she combining multiple
	words when she speaks? These are the kinds of milestones to pay attention to in 
	this category. 
	</p>
	<h3> Cognition </h3>
	<p> Description here 
	</p>
	<h3> Gross Motor Skills </h3>
	<p> Description here 
	</p>
	<h3> Fine Motor Skills </h3>
	<p> Description here
	</p>
	<h3> Physical Growth </h3>
	<p> It is, of course, also important to keep track of how your child is doing from
	a growth perspective. Below is a table of typical weights and heights at different 
	ages for 95% of the population.
	</p>
  <table class="table">
    <thead>
      <tr>
        <th>Age</th>
        <th colspan="2">Height (cm)</th>
        <th colspan="2">Weight (kg)</th>
        <th colspan="2">Head Circumference (cm)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>M</td>
        <td>F</td>
        <td>M</td>
        <td>F</td>
        <td>M</td>
        <td>F</td>
      </tr>
      <tr>
        <td>New-born</td>
        <td>46.8 - 53</td>
        <td>46.1 - 52.2</td>
        <td>2.6 - 4.2</td>
        <td>2.5 - 4</td>
        <td>32 - 36.8</td>
        <td>31.6 - 36</td>
      </tr>
      <tr>
        <td>1 Month</td>
        <td>51.5 - 57.9</td>
        <td>50.5 - 56.9</td>
        <td>3.6 - 5.5</td>
        <td>3.3 - 5.2</td>
        <td>35.2 - 38.6</td>
        <td>34.4 - 38.4</td>
      </tr>
    </tbody>
  </table>
</div>
