<% provide(:title, "Home") %>
<div class="container">
  <div class="jumbotron">
    <h1>Infant Health Passport</h1>
    <p>Keep track of your newborn's health during the first months of life.</p>
  </div>
</div>

<div class="container">
  <hr class="featurette-divider">
<!-- First Featurette -->
  <div class="featurette" id="about">
    <%= image_tag "Pregnant (500x500).jpg", class: "featurette-image img-circle img-responsive pull-right" %>
    <h2 class="featurette-heading">Smart Parents are Better Parents
      <span class="text-muted">Learn what you need to know</span>
    </h2>
    <p class="lead">A vast repositority of infant health resources for parents to browse through and learn the essentials for keeping your newcomer healthy and happy.</p>
  </div>
  <hr class="featurette-divider">
<!-- Second Featurette -->
  <div class="featurette" id="services">
    <%= image_tag "Sample Chart.png", class: "featurette-image img-square img-responsive pull-left" %>
    <h2 class="featurette-heading">Track Your Infant's Health
      <span class="text-muted">During their first months</span>
    </h2>
    <p class="lead">Plot their growth using our charting software, keep a record of their development with our interactive timeline.</p>
  </div>
  <hr class="featurette-divider">
<!-- Third Featurette -->
  <div class="featurette" id="contact">
    <%= image_tag "Logbook.jpg", class: "featurette-image img-square img-responsive pull-right" %>
    <h2 class="featurette-heading">Store for Later
      <span class="text-muted">Log it and forget.</span>
    </h2>
    <p class="lead">Once you input their information, we'll keep it safe until you need it again somewhere down the road.</p>
  </div>
  <hr class="featurette-divider">
</div>
