<div class="container">
  <h1>Nutrition<h1>
  <h3>Breastfeeding/formula</h3>
  <p>During the first six months of life, breastfeeding is the only nutrition that should typically be necessary although
  it is reccomended that breastfed babies receive vitamin D supplements of 400 IU per day. If, however, you choose commercial
  infant formula as an alternative, vitamin D supplementation is not necessary. Exclusive breastfeeding during the first six
  months of life is the accepted standard of nutrition as recommended by the World Health Organization (WHO), and is an
  important part of healthy infant growth and development. Breastmilk provides infants with the correct quality and quantity
  of nutrients in a form that is easy to digest and absorb. In addition, breastmilk contains critical bio-active agents
  including anti-infective immunoglobulins, as well as factors that stimulate the development of the small intestine and aid
  in the digestion and absorption of nutrients. </p>
  <p>Six months of exclusive breastfeeding is sufficient to allow children to
  develop to the point where they are ready for nutritionally dense solid foods. Continue to breastfeed as long as the mother
  is comfortable up until around 9 months of age at which point one can transition to cow's milk as the main milk source. Keep
  in mind that only 3.25% M.F. should be consumed until 2 years of age when partially skimmed milk can be introduced. Remember
  that rice or nut beverages should never be used as an infant's main milk source.
  </p>
  <h3>Sample Menus</h3>
  <p>Some examples of appropriate meals for infants of different ages.</p>
  <table class="table">
  <thead>
    <tr>
    <th>Age</th>
    <th>Time of Day</th>
    <th>Sample Meal</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <th rowspan="4">7 Months</td>
    <td>Morning</td>
    <td>Breastfeeding/formula, iron-fortified cereal and mashed soft fruit</td>
    </tr>
    <tr>
    <td>Snacks (throughout day)</td>
    <td>Whole grain toast, pureed fruit</td>
    </tr>
    <tr>
    <td>Midday</td>
    <td>Breastfeeding/formula, iron-fortified cereal, hard-boiled egg, mashed sweet potato</td>
    </tr>
    </tr>
    <td>Early evening</td>
    <td>Breastfeeding/formula, ground dark poultry or other meat, cooked and mashed vegetables</td>
  </tr>
  <tr>
    <th rowspan="4">11 Months</td>
    <td>Morning</td>
    <td>Breastfeeding/formula, chopped fruit, iron-fortified cereal</td>
    </tr>
    <tr>
    <td>Snacks (throughout day)</td>
    <td>Unsweetened cereal, fruit, chopped hard-boiled egg, whole-grain toast</td>
    </tr>
    <tr>
    <td>Midday</td>
    <td>Breastfeeding/formula, canned fish, mashed vegetables</td>
    </tr>
    </tr>
    <td>Evening</td>
    <td>Breastfeeding/formula, ground beef with diced tomatoes and pasta</td>
  </tr>
  <tr>
    <th rowspan="4">17 months</td>
    <td>Morning</td>
    <td>Whole grain toast, scrambled egg, sliced fruit, milk (cow's or breast)</td>
    </tr>
    <tr>
    <td>Snacks (throughout day)</td>
    <td>Tortilla, cheese, sliced fruit, cereal</td>
    </tr>
    <tr>
    <td>Lunch</td>
    <td>Cooked quinoa, chopped chicken, sliced vegetables, chopped fruit, milk (cow's or breast)</td>
    </tr>
    </tr>
    <td>Supper</td>
    <td>Poached fish (deboned), roasted/steamed vegetables, milk (cow's or breast)</td>
  </tr>
  </tbody>
  </table>
</div>
