<% provide(:title, "Vaccinations") %>
<div class="container">
  <h1>Vaccinations</h1>
  <p>Our schedule of vaccinations is based on the Government of Ontario's reccomendations, but you are also able to track
  non-routine inoculations as well.</p>
  <h3>Diphtheria, Tetanus, and Acellular Pertusis - Inactivated Polio Vaccine</h3>
  <p>Abbreviated as "DTaP-IPV", this vaccine is a combination that protects against four different disease. It is required
  by law for all children attending school in Ontario and is recommended for infants and children less than seven years
  of age
  </p>
  <p>Diphtheria, a disease of the throat, nose, and skin, is passed on by coughing and sneezing. Typical symptoms include
  fever, chills, and a sore throat. Despite medical advances, it kills about 1 out of every ten who contract the disease
  and treatment can be complicated by breathing problems, heart failure and nerve damage. Fortunately, thanks to widespread
  vaccination efforts, the last case of diphtheria in Ontario was in 1995, but that does not mean it is safe to stop
  inoculating our children.
  </p>
  <p>Tetanus, colloquially known as 'lockjaw' is another serious disease that is generally caused by contamination of open
  wounds by germ-containing dirt. Children are at higher risk because they are more likely to cut themselves while playing
  on the playground or in the park, exposing themselves to Tetanus germs found in soil, dust, and manure. However, Tetanus
  is not spread between humans. The disease is associated with muscle cramping and painful convulsions that can be violent
  enough to damage skeltal structures. Even if found and treated early, Tetanus has mortality rates as high as 20%.
  </p>
  <p>
  Pertusis, bettern known as whooping cough, is a disease spread through coughing and sneezing that causes violent coughing
  and can be very threatening for children as it can cause vomitting and inhibit breathing. Typical infections last for
  multiple weeks and are associated with serious complications in a significant fraction of cases. The worst outcomes include
  onset of pneumonia, brain damage, seizures, and death.
  </p>
  <p>
  Polio is a very potent disease that causes nerve damage and paralysis, including paralysis of muscles required for eating,
  mobility, and even breathing. In some cases, it can be lethal. Although many victims will fully recover muscle function, not
  all do and recovery can take many years. It is spread through infected feces entering the mouth which can occur by contamination
  of food and water. Despite the Americas being declared polio-free in 1994, it is important to keep your children protected
  from this disease.
  </p>
  <h3>Measles, Mumps, Rubella</h3>
  <p>The MMR (Measles, Mumps, and Rubella) vaccine is another combination treatment that provides immunity from three separate
  diseases and is typically given after a child's first birthday and again at 4-6 years of age. Furthermore, in Ontario children
  entering public school are required by law to be immunized against measles, mumps and rubella.
  </p>
  <p>
  Measles causes several unpleasant symptoms including coughing, rashes, feverish temperatures, and a runny nose. The infection
  typically lasts for one to two weeks during which the disease can be spread to others by coughing and sneezing around them. Even
  the aerosols created by talking can be sufficient for transmission. Complications include lung and ear infections in roughly 10%
  of cases and infection of the brain in a much smaller portion.
  </p>
  <p>
  Mumps is passed in a similar manner to measles, through coughing, sneezing, and even talking. This makes children in communal
  situations like schools and daycares susceptible to the viral infection. Common effects include headache, swelling of the neck,
  jaw, and cheek, and fever. Meningitis, inflamation of the brain's surrounding membrane, is a very serious complication that can
  result from the disease.
  </p>
  <p>
  Rubella, sometimes called German measles, is generally mild in severity for children causing a sore throat, rashes on the face
  or neck, and swollen glands in the neck. In older adolescents and adults the disease manifests itself in aches and pains which can
  be followed by chronic arthritis. The disease is most dangerous for pregnant women in whom Rubella will likely cause congenital
  rubella syndrome severly disabling or killing the unborn baby. It, too, is spread similarly to measles through coughing, sneezing,
  and talking.
  </p>
  <h3>Pneumococcal Conjugate 13-valent</h3>
  <p>
  Pneumococcal disease is an infection caused by Streptococcus pneumoniae bacteria, sometimes referred to as pneumococcus.
  You have probably heard of pneumonia, which is an infection of the lungs. Pneumonia can be caused by many different bacteria,
  viruses, and even fungi. Pneumococcus is one of the most common causes of severe pneumonia. Besides pneumonia, pneumococcus
  can cause ear infections, sinus infections, and meningitis. Some of these infections are considered “invasive.” Invasive disease
  means that germs invade parts of the body that are normally free from germs. For example, pneumococcal bacteria can invade the
  bloodstream, causing bacteremia, and the tissues and fluids surrounding the brain and spinal cord, causing meningitis.
  When this happens, disease is usually very severe, requiring treatment in a hospital and even causing death in some cases.
  </p>
  <p>
  The pneumococcal conjugate vaccine (PCV13 or Prevnar 13®) protects against the 13 types of pneumococcal bacteria that cause most
  of the severe illness in children and adults. The vaccine can also help prevent some ear infections. PCV13 is recommended for all
  children at 2, 4, 6, and 12 through 15 months old.  PCV13 is also recommended for adults 19 years or older with certain medical
  conditions and in all adults 65 years or older.
  </p>
  <h3>Haemophilus Influenzae type b</h3>
  <p>
  Haemophilus influenzae type b (Hib) disease is a serious disease caused by bacteria.  It usually affects children under 5 years old.
  It can also affect adults with certain medical conditions. Your child can get Hib disease by being around other children or adults
  who may have the bacteria and not know it. The germs spread from person to person. If the germs stay in the child’s nose and throat,
  the child probably will not get sick. But sometimes the germs spread into the lungs or the bloodstream, and then Hib can cause serious
  problems. This is called invasive Hib disease.
  </p>
  <p>
  Before Hib vaccine, Hib disease was the leading cause of bacterial meningitis among children under 5 years old in the United States.
  Meningitis is an infection of the lining of the brain and spinal cord. It can lead to brain damage and deafness.  Hib disease can also
  cause pneumonia, severe swelling in the throat making it hard to breathe, infections of the blood, joints, bones, and the covering of the
  heart. Before Hib vaccine, about 20,000 children in the United States under 5 years old got Hib disease each year, and about 3% - 6% of
  them died.
  </p>
  <p>
  Hib vaccine can prevent Hib disease.  Since use of Hib vaccine began, the number of cases of invasive Hib disease has decreased by more than 99%.
  </p>
  <h3>Rotavirus</h3>
  <p>
  Rotavirus is the leading cause of severe acute gastroenteritis (vomiting and severe diarrhea) among children worldwide. Two different
  rotavirus vaccines are currently licensed for infants in the United States. The vaccines are RotaTeq® (RV5) and Rotarix® (RV1). Before
  being licensed, both vaccines were tested in clinical trials and shown to be safe and effective. In these studies, during approximately
  the first year of an infant’s life, rotavirus vaccine was found to prevent almost all (85% to 98%) rotavirus illness episodes that were
  severe and to prevent 74% to 87% of all rotavirus illness episodes.
  </p>
  <h3>Varicella</h3>
  <p>
  Varicella (chickenpox) is a highly contagious disease that is very uncomfortable and sometimes serious. The chickenpox vaccine is the best
  protection against chickenpox. The vaccine is made from weakened varicella virus that produces an immune response in your body that protects
   you against chickenpox. The chickenpox vaccine was licensed for use in the United States in 1995. Since then, the vaccine has become widely
   used. Thanks to the chickenpox vaccine, the number of people who get chickenpox each year as well as hospitalizations and deaths from \
   chickenpox have gone down dramatically in the United States.
  </p>

</div>
