<% provide(:title, "Vaccinations") %>
<div class="container">
  <h1>Vaccinations</h1>
  <p>Our schedule of vaccinations is based on the Ontario Government's reccomendations, but you are also able to track
  non-routine inoculations as well.</p>
  <h3>Diphtheria, Tetanus, and Acellular Pertusis vaccin - Inactivated Polio Vaccine</h3>
  <p>Abbreviated as "DTaP-IPV", this vaccine is a combination that protects against four different disease. It is required
  by law for all children attending school in Ontario and is recommended for infants and children less than seven years
  of age
  </p>
  <p>Diphtheria, a disease of the throat, nose, and skin, is passed on by coughing and sneezing. Typical symptoms include
  fever, chills, and a sore throat. Despite medical advances, it kills about 1 out of every ten who contract the disease
  and treatment can be complicated by breathing problems, heart failure and nerve damage. Fortunately, thanks to widespread
  vaccination efforts, the last case of diphtheria in Ontario was in 1995, but that does not mean it is safe to stop
  inoculating our children.
  </p>
  <p>Tetanus, colloquially known as 'lockjaw' is another serious disease that is generally caused by contamination of open
  wounds by germ-containing dirt. Children are at higher risk because they are more likely to cut themselves while playing
  on the playground or in the park, exposing themselves to Tetanus germs found in soil, dust, and manure. However, Tetanus
  is not spread between humans. The disease is associated with muscle cramping and painful convulsions that can be violent
  enough to damage skeltal structures. Even if found and treated early, Tetanus has mortality rates as high as 20%.
  </p>
  <p>
  Pertusis, bettern known as whooping cough...
  </p>
  <p>
  Polio is a very potent disease that causes nerve damage and paralysis, including paralysis of muscles required for eating,
  mobility, and even breathing...
  </p>
  <h3>Measles, Mumps, Rubella</h3>
  <p>---insert description---</p>
  <h3>Pneumococcal Conjugate 13-valent vaccine</h3>
  <p>---insert description---</p>
  <h3>Haemophilus Influenzae type b</h3>
  <p>---insert description---</p>
  <h3>Rotavirus</h3>
  <p>---insert description---</p>
  <h3>Varicella</h3>
  <p>---insert description---</p>

</div>
