<tr>
<td><%= allergy.name %></td>
<td><%= severity(allergy.severity) %> <i id="<%= allergy.id %>" class="fa fa-pencil pull-right" onclick="editAllergy(this,this.id,'<%= allergy.name %>')"></i></td>
</tr>
