<tr>
  <td><%= parent.first_name %> <%= parent.last_name %></td>
  <td>Number of children: <%= parent.children.count %></td>
  <td><a href="#">Delete</a></td>
  <td><a href="#">Suspend</a></td>
</tr>
