<% provide(:title, "Dashboard") %>
<div class="jumbotron">
  <h1><%= @parent.name %>'s Dashboard</h1>
  <p class="lead">Here you will find your profile along with links to all of the individuals you have registered with Infant Passport and their at-a-glance information. </p>
  <p><a class="btn btn-lg btn-success" href="#" role="button">Edit Profile</a></p>
  <div class="alert alert-info" role="info">
	   <strong>Stay On Top</strong>
	    You have 3 recommended tasks
  </div>
</div>
<h2>Profile</h2>
<p>Here's the information you've shared with us about yourself.</p>
<table class="table table-hover">
  <tbody>
    <tr>
      <td>Name</td>
      <td><%= @parent.name %></td>
    </tr>
    <tr>
      <td>Email address</td>
      <td><%= @parent.email %></td>
    </tr>
    <tr>
      <td>User Since</td>
      <td><%= @parent.created_at.strftime("%B %e, %Y") %></td>
    </tr>
  </tbody>
</table>

<div id="page-wrapper">
  <div class="container-fluid" id="dashboard-tile">
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-mars fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div>
                <h1>Michael</h1>
              </div>
              <div>16 Months Old</div>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="panel-footer">
            <span class="pull-left">View Timeline</span>
            <span class="pull-right"><i class="fa   fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
