<% provide(:title, "Timeline") %>
<% provide(:extra_body_shit, raw(" data-spy='scroll' data-target='#myScrollspy' data-offset='0'")) %>
<div class="row">
<nav class="col-sm-3" id="myScrollspy">
  <ul class="nav nav-pills nav-stacked" style="padding-top:80px;">
	<li class="active"><a href="#section1">Growth and Development</a></li>
	<li><a href="#section2">Feeding and Nutrition</a></li>
	<li><a href="#section3">Vaccinations</a></li>
  </ul>
</nav>
<div class="col-sm-9">
	  <div class="scrollspy-section" id="section1">
		<h1>Growth and Development</h1>
		<h3>Year 1</h3>
		<h4 class="text-right">Month 1</h4>
		<table class="table">
			<thead>
			  <tr>
				<th>Category</th>
				<th>Event</th>
				<th>Age</th>
				<th>Date</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<td>Communication</td>
				<td>Responds to sound of parents</td>
				<td>3 Weeks</td>
				<td>23 August, 2015<i class="fa fa-pencil pull-right" onclick="editFunc(this)"></i></td>
			  </tr>
			  <tr>
				<td>Communication</td>
				<td>Responds to sound of parents</td>
				<td>3 Weeks</td>
				<td>23 August, 2015<i class="fa fa-pencil pull-right" onclick="editFunc(this)"></i></td>
			  </tr>
			  <tr>
				<td>Communication</td>
				<td>Responds to sound of parents</td>
				<td>3 Weeks</td>
				<td>23 August, 2015<i class="fa fa-pencil pull-right" onclick="editFunc(this)"></i></td>
			  </tr>
			</tbody>
		  </table>
		  <h4 class="text-right">Month 2</h4>
		  <table class="table">
			<thead>
			  <tr>
				<th>Category</th>
				<th>Event</th>
				<th>Age</th>
				<th>Date</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<td>Communication</td>
				<td>Responds to sound of parents</td>
				<td>3 Weeks</td>
				<td>23 August, 2015<i class="fa fa-pencil pull-right" onclick="editFunc(this)"></i></td>
			  </tr>
			  <tr>
				<td>Communication</td>
				<td>Responds to sound of parents</td>
				<td>3 Weeks</td>
				<td>23 August, 2015<i class="fa fa-pencil pull-right" onclick="editFunc(this)"></i></td>
			  </tr>
			  <tr>
				<td>Communication</td>
				<td>Responds to sound of parents</td>
				<td>3 Weeks</td>
				<td>23 August, 2015<i class="fa fa-pencil pull-right" onclick="editFunc(this)"></i></td>
			  </tr>
			</tbody>
		  </table>
		<h3>Year 2</h3>
		<h4 class="text-right">Month 12</h4>
		<table class="table">
			<thead>
			  <tr>
				<th>Category</th>
				<th>Event</th>
				<th>Age</th>
				<th>Date</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<td>Communication</td>
				<td>Responds to sound of parents</td>
				<td>3 Weeks</td>
				<td>23 August, 2015<i class="fa fa-pencil pull-right" onclick="editFunc(this)"></i></td>
			  </tr>
			  <tr>
				<td>Communication</td>
				<td>Responds to sound of parents</td>
				<td>3 Weeks</td>
				<td>23 August, 2015<i class="fa fa-pencil pull-right" onclick="editFunc(this)"></i></td>
			  </tr>
			  <tr>
				<td>Communication</td>
				<td>Responds to sound of parents</td>
				<td>3 Weeks</td>
				<td>23 August, 2015<i class="fa fa-pencil pull-right" onclick="editFunc(this)"></i></td>
			  </tr>
			</tbody>
		  </table>
		  <h4 class="text-right">Month 13</h4>
		  <table class="table">
			<thead>
			  <tr>
				<th>Category</th>
				<th>Event</th>
				<th>Age</th>
				<th>Date</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<td>Communication</td>
				<td>Responds to sound of parents</td>
				<td>3 Weeks</td>
				<td>23 August, 2015<i class="fa fa-pencil pull-right" onclick="editFunc(this)"></i></td>
			  </tr>
			  <tr>
				<td>Communication</td>
				<td>Responds to sound of parents</td>
				<td>3 Weeks</td>
				<td>23 August, 2015<i class="fa fa-pencil pull-right" onclick="editFunc(this)"></i><td>
			  </tr>
			  <tr>
				<td>Communication</td>
				<td>Responds to sound of parents</td>
				<td>3 Weeks</td>
				<td>23 August, 2015<i class="fa fa-pencil pull-right" onclick="editFunc(this)"></i></td>
			  </tr>
			</tbody>
		  </table>
	  </div>
	  <div class="scrollspy-section" id="section2">
		<h1>Feeding and Nutrition</h1>
		<h3>Allergies</h3>
		<table class="table">
			<thead>
			  <tr>
				<th>Allergen</th>
				<th>Severity</th>
				<th>First Documented</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<td>Peanuts</td>
				<td>Mild</td>
				<td>23 August, 2015<i class="fa fa-pencil pull-right" onclick="editFunc(this)"></i></td>
			  </tr>
			  <tr>
				<td>Kiwi</td>
				<td>Unknown</td>
				<td>23 August, 2015<i class="fa fa-pencil pull-right" onclick="editFunc(this)"></i></td>
			  </tr>
			  <tr>
				<td colspan="3">
					<button type="button" class="btn btn-info" onclick="addAllergy(this)">Add Allergy</button>
				</td>
			</tbody>
		</table>
		<h3>Year 1</h3>
		<table class="table">
			<thead>
			  <tr>
				<th>Event</th>
				<th>Age</th>
				<th>Date</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<td>Began breastfeeding</td>
				<td>Mild</td>
				<td>23 August, 2015<i class="fa fa-pencil pull-right" onclick="editFunc(this)"></i></td>
			  </tr>
			  <tr>
				<td>Kiwi</td>
				<td>Unknown</td>
				<td>23 August, 2015<i class="fa fa-pencil pull-right" onclick="editFunc(this)"></i></td>
			  </tr>
			</tbody>
		</table>
		<h3>Year 2</h3>
	  </div>
	  <div class="scrollspy-section" id="section3">
		<h1>Vaccination Schedule</h1>
		<table class="table">
			<thead>
			  <tr>
				<th>Vaccine</th>
				<th>Age</th>
				<th>Date</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<td>Diptheria</td>
				<td>3 Months</td>
				<td>23 August, 2015<i class="fa fa-pencil pull-right" onclick="editFunc(this)"></i></td>
			  </tr>
			  <tr>
				<td colspan="3">
					<button type="button" class="btn btn-info" onclick="addVacc(this)">Add Vaccine</button>
				</td>
			  </tr>
			</tbody>
		</table>
	  </div>
</div>
</div>
