<div class="navbar navbar-static-bottom" role="navigation">
  <div class="container">
    <div class="navbar-text pull-left">
      <p>&copy; Copyright 2015-2016 Infant Passport. Use of this website constitutes acceptance of the Infant Passport <strong> <%= link_to "Terms of Service", terms_of_service_path %> </strong></p>
    </div>
  </div>
</div>
