<div class="navbar navbar-inverse navbar-static-bottom" role="navigation">
  <div class="container">
    <div class="navbar-text pull-left">
      <p>(c) 2015 Infant Passport.</p>
    </div>
  </div>
</div>
